<h2>Edit {{youtube_url}}</h2>
<div id="ytapiplayer" video-player>
	You need Flash player 8+ and JavaScript enabled to view this video.
</div>
<br>
<div id="timeline">
	<div ng-repeat="section in sections"  style="width: {{section.percent_of_video}}%;" timeline-section 
				data-start-time="{{sections[$index-1].end_time}}"
				data-end-time="{{section.end_time}}"
				data-video-duration="{{$parent.video_duration}}">
	<div id="filler" style="width: {{params.remaining_width}}%" timeline-filler>Create New Section</div>

</div>
	<input id="defaultSlider" type="range" value="{{slider_value}}" min="0" max="{{video_duration}}" step="0.1" slider/>

	<div style="clear:both"></div>

<a end-section href="#">Create New Section</a><br>
<div id="define_section_info" class="fancybox-div">
	<form>
		<h4>Section Details</h4>
		<input type="text" ng-model="sections[params.current_section].title" placeholder="Section Title" /><br>
		<textarea></textarea><br>
		<input type="submit" submit-section>
	</form>
</div>
<div id="edit_section_info" class="fancybox-div">
	<form>
		<h4>Section Details</h4>
		<input type="text" ng-model="sections[params.current_edit].title" placeholder="Section Title" /><br>
		<textarea></textarea><br>
		<input type="submit" edit-section>
	</form>
</div>
<span ng-model="errors" style="color: red; fontWeight: bold;">{{errors}}</span>
	<!-- <button seek-button ng-repeat="section in sections" my-time="{{section.start_time}}"></button> -->

